{% load static %}
{% block extra_head %}
<style type="text/tailwindcss">
  .btn-primary {
    @apply flex min-w-[120px] items-center justify-center rounded-full h-12 px-6 bg-[#fb3d6d] text-white text-base font-bold tracking-wide hover:brightness-110 transition-all;
  }
  .btn-secondary {
    @apply flex min-w-[120px] items-center justify-center rounded-full h-12 px-6 bg-[#4d1829] text-white text-base font-bold tracking-wide hover:bg-opacity-80 transition-all;
  }
</style>
{% endblock %}
<header
  class="sticky top-0 z-50 bg-[var(--background-color)]/80 backdrop-blur-sm"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center gap-4">
        <svg
          class="text-[var(--primary-color)] h-8 w-8"
          fill="none"
          viewBox="0 0 48 48"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24 45.8096C19.6865 45.8096 15.4698 44.5305 11.8832 42.134C8.29667 39.7376 5.50128 36.3314 3.85056 32.3462C2.19985 28.361 1.76794 23.9758 2.60947 19.7452C3.451 15.5145 5.52816 11.6284 8.57829 8.5783C11.6284 5.52817 15.5145 3.45101 19.7452 2.60948C23.9758 1.76795 28.361 2.19986 32.3462 3.85057C36.3314 5.50129 39.7376 8.29668 42.134 11.8833C44.5305 15.4698 45.8096 19.6865 45.8096 24L24 24L24 45.8096Z"
            fill="currentColor"
          ></path>
        </svg>
        <h2 class="text-xl font-bold">Travel Lykke</h2>
      </div>
      <nav class="hidden md:flex items-center gap-8">
        <a
          href="/"
          class="text-sm font-medium hover:text-[var(--primary-color)] transition-colors"
          >Home</a
        >
        <a
          href="/travel_options/"
          class="text-sm font-medium hover:text-[var(--primary-color)] transition-colors"
          >Travel Options</a
        >
        <a
          href="/about_us/"
          class="text-sm font-medium hover:text-[var(--primary-color)] transition-colors"
          >About Us</a
        >
      </nav>
      <div class="flex items-center gap-4">
        {% if user.is_authenticated %}

        <a href="{% url 'profile' %}">
          <img
            src="{% if user.profile.profile_image %}{{ user.profile.profile_image.url }}{% else %}{% static 'UserIcon.png' %}{% endif %}"
            alt="User avatar"
            class="size-10 rounded-full"
          />
        </a>
        {% else %}
        <a
          href="{% url 'login' %}"
          class="text-sm font-medium hover:text-[var(--primary-color)] btn-secondary"
          >Login</a
        >
        <a
          href="{% url 'register' %}"
          class="primary-cta px-4 py-2 rounded-full text-sm btn-primary"
          >Sign Up</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</header>
